.play-area{
    border-style: double;
    width: 720px;
}

.play-area .element{
    display: inline-block;
    margin: 10px;
    width: 64px;
    height: 64px;
    background-color: green;
    border-style: solid;
}


