<input type="text" id="user-name" placeholder="name">
<input type="text" id="user-midname" placeholder="midname">
<input type="text" id="user-surname" placeholder="surname">
<button id="user-add-button">click to add</button>
<button id="clear-placeholder-button">clear</button>

<div class="user-container">
  Users:

</div>

<span class="user-placeholder">
</span>
    <!--
1). przycisk do czyszczenia placeholdera
2). dodanie middle name
3). optymalizacja kodu

-->