<input type="text" class="user-name" placeholder="name">
<input type="text" class="user-surname" placeholder="surname">
<input type="text" class="user-age" placeholder="age">
<button class="user-add-button">add</button><br>

<select class="filter-selection">
  <option value="more">more than</option>
  <option value="less">less than</option>
 </select>
<input type="text" class="filter-input" placeholder="filter">
<button class="filter-button">filter</button>
<button class="clear-list-button">clear</button>
<button class="show-all-button">show all</button>


<div class="users-container">
  Users:

</div>